body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
.joint-tool[data-tool-name="button"] circle {
    stroke: #131e29;
    stroke-width: 1;
    fill: #f6f740;
}

.joint-tool[data-tool-name="button"] path {
    stroke: #131e29;
}

.joint-tool[data-tool-name="source-anchor"] circle,
.joint-tool[data-tool-name="vertices"] circle {
    stroke: #131e29;
    stroke-width: 1.5;
    fill: #f7a1a8;
}
