:root {
  --jj-paper-highlight-color: rgba(59, 130, 246, 1);
}

.jj-available-magnet {
  background: rgba(59, 130, 246, 0.08);
  outline: 0.5px dashed rgba(59, 130, 246, 0.5);
  outline-offset: -1.5px;
}

.jj-available-element .jj-box {
  border: 1px solid rgba(59, 130, 246, 1);
}

.joint-element:not(.jj-available-element) .table-row:hover {
  background: rgba(128, 128, 128, 0.06);
}
