#paper {
    background: white;
    margin: 50px;
    display: inline-flex;
    box-shadow: 10px 5px 5px rgba(0,0,0,0.5);
}

body {
    color: #444444;
    background: #7f8c8d;
}

.left {
    position: fixed;
    width: 300px;
}

.right {
    position: fixed;
    right: 0;
    width: 300px;
}

.paper-container {
    position: absolute;
    left: 300px;
}

.panel {
    margin: 10px;
    border-radius: 4px;
    box-shadow: 10px 5px 5px rgba(0,0,0,0.5);
}

.panel-body {
    padding: 10px;
    position: relative;
    background: white;
}

.panel-heading {
    background: #2c3e50;
    color: #eeeeee;
    padding: 4px;
    line-height: 30px;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.panel-footer {
    background: #ecf0f1;
    padding: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.form-group input {
    margin-left: 10px;
}

output, .output {
    background: #ecf0f1;
    color: #333333;
    padding: 5px;
    border-radius: 10px;
}

.form-group {
    padding: 5px 0;
}

button {
    background-color: #2c3e50;
    color: #eeeeee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 4px;
}

button:hover {
    background: #34495e;
}

input[type="number"] {
    width: 100px;
}

/* svg */

.bbox {
    stroke: #16a085;
    stroke-width: 2;
    stroke-opacity: 0;
    fill: none;
    transition-property: stroke-opacity;
    transition-duration: 0.5s;
    pointer-events: none;
}

.axis {
    stroke: #95a5a6;
    stroke-dasharray: 2,4;
    stroke-width: 1;
    pointer-events: none;
}

.padding {
    stroke: #1abc9c;
    stroke-opacity: 0;
    transition-property: stroke-opacity;
    transition-duration: 1s;
    pointer-events: none;
}

.grid {
    stroke: #16a085;
    stroke-width: 0.5;
    stroke-opacity: 0;
    transition-property: stroke-opacity;
    transition-duration: 1s;
    pointer-events: none;
}

.active {
    stroke-opacity: 0.2;
    transition-property: stroke-opacity;
    transition-duration: 2s;
}

.bbox.active {
    stroke-opacity: 0.5;
}

.element.Rect rect {
    fill: #2ecc71;
    stroke: #27ae60;
    stroke-width: 1px;
}

.element.Circle circle {
    fill: #e74c3c;
    stroke: #c0392b;
    stroke-width: 1px;
}

.element.Rhombus path {
    fill: #f1c40f;
    stroke: #f39c12;
    stroke-width: 1px;
}