$side_width: 200px;

#paper-container {
    position: absolute;
    left: $side_width;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
}

#side-container {
    position: absolute;
    left: 0;
    top: 0;
    width: $side_width;
    bottom: 0;
    overflow: scroll;
    font-family: sans-serif;
    padding: 5px;

    legend {
        background-color: #555;
        color: #fff;
        padding: 3px 6px;
    }
}

#logo {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    padding: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}
