* {
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
}

#paper-container {
    position: absolute !important;
}

#description {
    position: absolute;
    bottom: 5px;
}
