.html-views {
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.my-html-element {
    pointer-events: none;
    position: absolute;
    box-sizing: border-box;
    -webkit-user-select: none;
    -webkit-box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.38);
    -moz-box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.38);
    box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.38);
    padding: 5px;
    background: #dbc8a2;
    color: #222;
}

.my-html-element label {
    line-height: 2em;
}

.my-html-element input {
    pointer-events: auto;
    width: 90%;
}

.my-html-element i {
    display: block;
    float: right;
    font-size: 10px;
    padding: 20px 20px 0 0;
}

.my-html-element .delete {
    pointer-events: auto;
    position: absolute;
    right: 5px;
    top: -5px;
    background: #dbc8a2;
    border: 1px solid gray;
    width: 10px;
    height: 15px;
    font-size: 15px;
    line-height: 13px;
    text-align: center;
    cursor: pointer;
}
