/* port styling */
.available-magnet {
    fill: #5DA271;
}

/* element styling */
.available-cell rect {
    stroke-dasharray: 5, 2;
}

/* link wrapper styles */
.joint-link.joint-theme-default .connection-wrap:hover {
    opacity: .1;
}

/* remove link tool styles */
.joint-link.joint-theme-default .link-tools .tool-remove circle {
    fill: #F6F6F6;
    stroke: #FF5148;
    stroke-width: 2;
    transform: scale(.95);
}

.joint-link.joint-theme-default .link-tools .tool-remove path {
    fill: #FF5148;
}

/* arrowhead styles */
.joint-link.joint-theme-default .marker-arrowhead {
    fill: #5DA271;
}

.joint-link.joint-theme-default .marker-arrowhead:hover {
    fill: #5DA271;
}

/* marker vertex styles */
.joint-link.joint-theme-default .marker-vertex {
    fill: #34495E;
    transform: scale(.7);
}

.joint-link.joint-theme-default .marker-vertex:hover {
    fill: #34495E;
    transform: scale(.7);
}

.marker-vertex-remove-area {
    fill: #34495E;
}
