/* 
    font-face src url is the url for the custom font on JointJS_Site.
    In joint repo the default sans-serif font is used for tutorials.
*/

@font-face {
    font-family: 'PPFraktionSans';
    font-style: normal;
    font-weight: 300;
    src: url('../../../../fonts/PPFraktionSans/PPFraktionSans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'PPFraktionSans';
    font-style: italic;
    font-weight: 300;
    src: url('../../../../fonts/PPFraktionSans/PPFraktionSans-RegularItalic.woff') format('woff');
}

@font-face {
    font-family: 'PPFraktionSans';
    font-style: normal;
    font-weight: 600;
    src: url('../../../../fonts/PPFraktionSans/PPFraktionSans-Bold.woff') format('woff');
}

@font-face {
    font-family: 'PPFraktionSans';
    font-style: italic;
    font-weight: 600;
    src: url('../../../../fonts/PPFraktionSans/PPFraktionSans-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'PPFraktionMono';
    font-style: normal;
    font-weight: 300;
    src: url('../../../../fonts/PPFraktionMono/PPFraktionMono-Regular.woff') format('woff');
}

@font-face {
    font-family: 'PPFraktionMono';
    font-style: italic;
    font-weight: 300;
    src: url('../../../../fonts/PPFraktionMono/PPFraktionMono-RegularItalic.woff') format('woff');
}

@font-face {
    font-family: 'PPFraktionMono';
    font-style: normal;
    font-weight: 600;
    src: url('../../../../fonts/PPFraktionMono/PPFraktionMono-Bold.woff') format('woff');
}

@font-face {
    font-family: 'PPFraktionMono';
    font-style: italic;
    font-weight: 600;
    src: url('../../../../fonts/fonts/PPFraktionMono/PPFraktionMono-BoldItalic.woff') format('woff');
}

:root {
    /* Theme */
    --primary-red: hsl(355, 85%, 54%);
    --primary-blue:  hsl(210, 37%, 12%);

    /* Text */
    --text-color: hsl(210, 20%, 28%);
    --text-font-size: 1rem;
    --text-font-style: normal;
    --text-font-weight: 300;
    --text-font-weight-bold: 600;
    --text-line-height: 1.6;
    --text-letter-spacing: -1px;
}

html,
body {
    background-color: hsl(0, 0%, 100%);
    font-family: 'PPFraktionSans', sans-serif;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0;
}

html {
    box-sizing: border-box;
    width: 95%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    border: 1px solid #3c4260;
}

h1 {
    border-bottom: 1px solid #eee;
    color: var(--primary-blue);
    font-size: 35px;
    font-weight: var(--text-font-weight-bold);
    word-spacing: 3.5px;
    letter-spacing: var(--text-letter-spacing);
    padding-bottom: 30px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: capitalize;
    margin: 40px 0 46px;
}

h2 {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    margin: 32px 0 0;
}

h2,
h3 {
    color: var(--primary-blue);
    font-weight: var(--text-font-weight-bold);
}

h3 {
    font-size: 19px;
}

p, li {
    color: var(--text-color);
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
    line-height: var(--text-line-height);
}

a {
    color: var(--primary-blue);
    text-decoration: underline;
}

a:hover {
    color: var(--primary-red);
    text-decoration: underline;
}

.joint-paper {
   border: 1px solid lightgray;
   display: inline-block;
   overflow: hidden;
}

pre {
   padding-left: 20px;
   border-left: 4px solid lightgray;
}

#paper-multiple-papers-small {
   width: 300px;
}

/* PrismJS Overide */

code[class*="language-"],
pre[class*="language-"] { 
    font-family : 'PPFraktionMono', monospace !important;
    line-height: var(--text-line-height) !important;
}

@media screen and (max-width: 948px) {

    .tutorial-page {
        padding-top: 60px;
    }
}
