#paper-container {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
}

#logo {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    padding: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

#scale-value {
    width: 32px;
    font-family: sans-serif;
}

#scale-control {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    background-color: rgba(0, 0, 0, 0.2);
}
