body {
  background-color: #161c1c
}
#world {
  background-color: white;
  margin: 0 auto 0 auto;
  width: 640px;
  height: 380px;
  border: 3px solid gray;
  border-radius: 30px;
}
label {
  color: white;
  font-weight: bold;
}
input {
  border: 1px solid white;
  width: 50px;
}
input.long {
  width: 300px;
}
fieldset legend { 
  color: yellow;
  font-weight: bolder;
  cursor: pointer;
}
button { 
  border: 1px solid white;
  background-color: lightblue;
}
