.default-element-demo.dark {
  --jr-paper-bg: #1e1e2e;
  --jr-paper-grid-color: #45475a;
  --jr-paper-highlight-color: #3ff7c7;

  --jr-element-bg: #313244;
  --jr-element-color: #cdd6f4;
  --jr-element-border-color: #585b70;
  --jr-element-available-border: #25f7ff;

  --jr-link-color: #89b4fa;

  --jr-label-color: #cdd6f4;
  --jr-label-bg: #313244;
  --jr-label-stroke: #585b70;

  --jr-port-color: #cdd6f4;
  --jr-port-outline: #1e1e2e;
  --jr-port-available-color: #25f7ff;
}
