body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.canvas {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateZ(0);

    .joint-paper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #E2E2E2;
    }
}

.toolbar {
    display: flex;
    position: absolute;
    width: 100%;
    top: 18px;
    text-align: center;
    justify-content: center;
    z-index: 1;
}

.toolbar-button {
    outline: none;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 16px;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    padding: 6px 12px;
    letter-spacing: 0.25px;
    color: #222222;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 2px;

    &:hover {
        background: #F7F8F9;
    }
}
