#logo {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    padding: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

#paper {
    margin: 0 auto;
}

.joint-tool[data-tool-name="button"] circle {
    fill: #333;
}

.joint-tool[data-tool-name="connect"]:not(:hover) {
    opacity: 0;
}

.active [joint-selector="line"] {
    stroke: #4666e5;
}
