html,
body {
    height: 100%;
    background: #f8f8f8;
}

#logo {
    position: fixed;
    bottom: 20px;
    right: 0;
}

@font-face {
    font-family: FabricMDL2Icons;
    src: url(https://assets.codepen.io/7589991/SegoeIcons.ttf);
}

.joint-element {
    touch-action: none;
}

.outlook-frame {
    border: 1px solid #F1F1F1;
    box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.4);
}

.ac-media-poster.empty {
    height: 200px;
    background-color: #F2F2F2;
}

.ac-media-playButton {
    width: 56px;
    height: 56px;
    border: 1px solid #EEEEEE;
    border-radius: 28px;
    box-shadow: 0px 0px 10px #EEEEEE;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    cursor: pointer;
}

.ac-media-playButton-arrow {
    color: black;
}

.ac-media-playButton:hover {
    background-color: white;
}

.ac-image.ac-selectable {
    cursor: pointer;
}

a.ac-anchor {
    text-decoration: none;
}

a.ac-anchor:link {
    color: #005A9E;
}

a.ac-anchor:visited {
    color: #005A9E;
}

a.ac-anchor:link:active {
    color: #004D84;
}

a.ac-anchor:visited:active {
    color: #004D84;
}

.ac-container.ac-selectable,
.ac-columnSet.ac-selectable {
    padding: 0px;
}

.ac-container.ac-selectable:hover,
.ac-columnSet.ac-selectable:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.ac-container.ac-selectable:active,
.ac-columnSet.ac-selectable:active {
    background-color: rgba(0, 0, 0, 0.15) !important;
}

.ac-pushButton {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 4px 10px 5px 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 31px;
    background-color: white;
    color: #0079db;
    border: 1px solid #6290FF;
}

.ac-pushButton>div {
    pointer-events: none;
}

.ac-pushButton-disabled {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 4px 10px 5px 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 31px;
    border: 1px solid #EEEEEE;
    background-color: #EEEEEE;
    color: #666666;
}

.ac-pushButton:hover {
    background-color: #0078D7;
    color: white;
    border: 1px solid #73C1FD;
}

.ac-pushButton:active {
    background-color: #464B93;
    color: white;
    border: 1px solid #464B93;
}

.ac-pushButton.style-positive {
    background-color: #0078D7;
    color: white;
    border: 1px solid #0078D7;
}

.ac-pushButton.style-positive:hover,
.ac-pushButton.style-positive:active {
    background-color: #006ABC;
    border: 1px solid #006ABC;
}

.ac-pushButton.style-destructive {
    background-color: #E50000;
    color: white;
    border: 1px solid #E50000;
}

.ac-pushButton.style-destructive:hover,
.ac-pushButton.style-destructive:active {
    background-color: #BF0000;
    border: 1px solid #BF0000;
}

.ac-pushButton.subdued {
    color: #666666;
    border: 1px solid #EEEEEE;
}

.ac-pushButton.subdued:hover {
    background-color: #0078D7;
    color: white;
    border: 1px solid #0078D7;
}

@media (forced-colors: none) {
    .ac-pushButton.expanded {
        background-color: #0078D7;
        color: white;
        border: 1px solid #0078D7;
    }
}

@media (forced-colors: active) {
    .ac-pushButton.expanded {
        background-color: highlight;
        color: highlightText;
        forced-color-adjust: none;
    }
}

.ac-pushButton.expandable:after {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-family: 'FabricMDL2Icons';
    font-size: 10px;
    font-style: normal;
    font-weight: 900;
    margin: auto 0px auto 6px;
}

.ac-input {
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    color: black;
}
