#paper-container {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: scroll;
}

#power-input-container {
    position: absolute;
    font-family: sans-serif;
    font-size: 20px;
    border: 1px solid lightgray;
    background: white;
    padding: 5px 10px;
    border-radius: 3px;

    output {
        display: inline-block;
        width: 50px;
        text-align: right;
    }
}

#logo {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    padding: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}
