#paper-container {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: scroll;
}

.joint-type-standard-rectangle {
    transition: opacity 0.3s ease;
}

.marker-details .joint-type-standard-rectangle {
    opacity: 0;
}
