body {
    text-align: center;
    font-family: 'Helvetica Neue Light','Helvetica Neue','Source Sans Pro',sans-serif;
}
article {
    padding-left: 20%;
    padding-right: 20%;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    padding-bottom: 30px;
    margin: 32px 0 0;
    font-weight: bold;
    color: #3c4260;
}
article h2 {
    border-bottom: 1px solid #d1d2d8;
}
#paper {
    margin: 16px 0 32px;
}