/* Shared styles for the examples. */

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.canvas {

    width: 100%;
    height: 100%;

    .joint-paper {

        border: 1px solid #E2E2E2;
    }
}

/* Styles for the UI thread example. */

.ui-thread {

    body {
        overflow: hidden;
    }

    .canvas {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Styles for the Web Worker example. */

.web-worker {

    body {
        overflow: auto;
    }

    .awaiting-update {
        opacity: 0.3;
        stroke-dasharray: 5, 5;
        animation: dash 20s linear infinite;
    }

    @keyframes dash {
        to {
            stroke-dashoffset: 1000;
        }
    }
}
