:root {
    /* ── Ports ───────────────────────────────────────────────────────────── */
    --jj-port-color: var(--jj-color-surface);
    --jj-port-border-color: var(--jj-color-link);
    /* Effective 1px because of paint-order: stroke */
    --jj-port-border-width: 2px;
    --jj-port-hover-color: var(--jj-color-shape-surface);
    --jj-port-hover-border-color: var(--jj-color-link);
    /* Effective 2px because of paint-order: stroke */
    --jj-port-hover-border-width: 4px;
    --jj-port-available-color: var(--jj-color-primary);
    --jj-port-available-border-color: var(--jj-color-primary);
    --jj-port-available-border-width: var(--jj-port-border-width);
    --jj-port-label-color: var(--jj-color-text);
    --jj-port-label-font-size: 10px;
    --jj-port-label-font-family: Arial, sans-serif;
}

/* ── Ports ──────────────────────────────────────────────────────────────── */

.jj-port {
    fill: var(--jj-port-color);
    stroke: var(--jj-port-border-color);
    stroke-width: var(--jj-port-border-width);
    paint-order: stroke;
    transition: fill 0.2s, stroke 0.2s, stroke-width 0.2s;
}

.jj-port[magnet="active"] {
    cursor: var(--jj-port-drag-cursor);
}

.jj-port-label {
    fill: var(--jj-port-label-color);
    font-size: var(--jj-port-label-font-size);
    font-family: var(--jj-port-label-font-family);
}
