:root {
    /* ── Paper ───────────────────────────────────────────────────────────── */
    --jj-paper-color: var(--jj-color-light-300);
    --jj-paper-grid-color: var(--jj-color-light-700);
    --jj-paper-connecting-highlight-color: var(--jj-color-primary);
    --jj-paper-embedding-highlight-color: var(--jj-color-primary);
}

/* ── Paper ─────────────────────────────────────────────────────────────── */

.jj-paper {
    background-color: var(--jj-paper-color);
    height: stretch;
}

/* ── Paper Interactions ─────────────────────────────────────────────────────── */

.jj-port[magnet="active"]:not(.jj-is-magnet-available):hover {
    fill: var(--jj-port-hover-color);
    stroke: var(--jj-port-hover-border-color);
    stroke-width: var(--jj-port-hover-border-width);
}

.jj-port.jj-is-magnet-available {
    fill: var(--jj-port-available-color);
    stroke: var(--jj-port-available-border-color);
    stroke-width: var(--jj-port-available-border-width);
}

.jj-is-dragging .jj-port[magnet="active"] {
    cursor: var(--jj-port-dragging-cursor);
}
