body {
    text-align: center;
    font-family: sans-serif;
}

#paper-container {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 30px;
    border: 2px solid lightgray;

    &.drag-n-drop {
        border: 2px solid #6fc8a6;

        .joint-paper {
            background-color: #b3e2d0 !important;
        }
    }
}

#logo {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    padding: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}
