body {
    text-align: center;
}
#board {
    margin: 0 auto;
    border-style: none;
    width: 400px;
    background-color: #7c68fd;
    position: relative;
}

#board > svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
