body { 
  background-color:#1F1F1F
}

h3 { 
  font-size: 14px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, sans-serif;
  text-decoration: underline;
}

.new { 
  font-size: 0.9em;
  color: red;
}

.list-item.header { 
  margin-bottom: 6px;
}
.version { 
  color: darkred;
  font-weight: bold;
  padding: 2px;
}

.warning { 
  border: 2px solid red;
  font-weight: bold;
  margin: 4px;
  padding: 2px 5px;
}

.subpage-header { 
  font-size: 20px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, sans-serif;
}

.main { 
  background-color: white;
}

.leftmenu { 
  padding: 1.5em; 
  margin-bottom: 1.5em;
  margin-left: 20px;
  margin-top: 15px;
  background-color: #26a2e0;
  color: white;
}
.leftmenu ul { 
  list-style-type: none;
  margin: 0;
}
.leftmenu ul li a { 
  color: white;
}
.leftmenu ul li a b em { 
  color: #474747;
}

.api-list { 
  list-style-type: square;
}
.api-list em { 
  color: black;
}
.api-list li { 
  margin-left: 10px;
  font-weight: bold;
}
.api-list li a { 
  text-decoration: none;
}

.content { 
  margin-top: 15px;
  margin-left: 10px;
}
.content h3 { 
  margin-top: 10px;
}
ul.downloads { 
  list-style-type: disc;  
  margin-left: 5px;
}
ul.downloads li a { 
  text-decoration: none;
}
ul.downloads li a:hover { 
  text-decoration: underline;  
}

.foot { }
.foot div em { 
  margin-left: 20px;
}

.last-modified { font-size: 10px; }

#header-top { 
  background-color: white;
  height: 15px;
}

#header { 
  background-color: #26a2e0;
  border: 1px solid gray;
}
#title { 
  padding: 0px 50px;
}

.ex-paper { 
  border: 1px solid blue;
}