body { 
    background-color: black;
    min-height: 768px;
    font-family: 'arial';
    font-size: 13px;
}

p {
    line-height: 1.5em;
}

iframe {
    border: none;
}

.highlight {
    color: #00b7fc;
}

h4 {
    font-size: 1.5em;
    font-family: 'MuseoSans';
    letter-spacing: 0.8px;
    line-height: 30px;
    font-weight: bold;
    margin-top: 4px;
}

.gradient-strip {
    width: 1100px;
    height: 10px;
    margin-left: -50px;
    margin-top: -12px;
    margin-bottom: 20px;
    background: #4c4c4c; /* old browsers */
    background: -moz-linear-gradient(top, #4c4c4c 0%, #474747 39%, #111111 83%, #2c2c2c 97%, #2b2b2b 100%, #1c1c1c 100%, #131313 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(39%,#474747), color-stop(83%,#111111), color-stop(97%,#2c2c2c), color-stop(100%,#2b2b2b), color-stop(100%,#1c1c1c), color-stop(100%,#131313)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* ie */
}

#menu {
    clear: both;
    position: relative;
    top: 50px;
    margin:0;
    padding: 0;
    list-style-type:none;
    width:auto;
    position:relative;
    display:block;
    height:30px;
    font-size:12px;
    font-weight:bold;
    background:transparent url(../img/nav_bg.png) repeat-x top left;
    font-family:Arial, Helvetica, sans-serif;
    border-bottom:1px solid #000000;
    border-top:1px solid #000000;
}

#menu li {
    display:block;
    float:left;
    margin:0;
    padding:0;
}

#menu li a {
    display:block;
    float:left;
    color:#999999;
    text-decoration:none;
    font-weight:bold;
    padding:8px 20px 0 20px;
}

#menu li a:hover {	
    color:#FFFFFF;
    height:22px;
    background:transparent url(../img/nav_bg.png) 0px -30px no-repeat;		
}


#menu li a.current {
    display:inline;
    height:22px;
    background:transparent url(../img/nav_bg.png) 0px -30px no-repeat;	
    float:left;
    margin:0;
}

#header {
    height: 220px;
    background-image: url(../img/texture.png);
    background-repeat: y-repeat;
}
#header h1 {
    text-align: left;
    font-family: 'sans-serif';
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding-top: 80px;
    margin-left: 30px;
    padding-bottom: 10px;
    width: 400px;
    float: left;
}
#header img {
    float: left;
    width: 438px;
    height: 96px;
    margin-left: 20px;
}
#header img.logo {
    width: 267px; 
    height: 106px;
    margin-top: 20px;
    margin-left: 120px;
}

#header .version {
    position: absolute;
    left: 810px;
    top: 100px;
}
#header .version .tag {
    width: 140px;
    height: 65px;
}
#header .version span {
    position: relative;
    left: -116px;
    top: 12px;
    font-size: 22px;
    font-weight: bold;
}

#content {
    width: 1000px;
    padding: 30px 50px;
    margin: 2px auto 0 auto;
    background-color: #2f2f2f;
    color: white;
}

#content > p {
    max-width: 800px;
}

ul {
    margin: 4px;
    padding-left: 8px;
    list-style-type: circle !important;
}
ul li {
    list-style-type: square;
    padding: 4px;
    margin-left: 20px;
}

a {
    color: white;
    font-weight: bold;
}

#foot {
    color: white;
    width: 1000px;
    padding: 10px 50px;
    margin: 2px auto 0 auto;
    background-color: black;
    height: 400px;
}
#foot .twitter,
#foot .facebook {
    height: 35px;
}
#foot .diasketch {
    height: 55px;
    float: right;
    width: 200px;
}
#foot .pledgie {
    height: 55px;
    float: right;
    width: 200px;
}
#foot .copyright {
    display: block;
    width: 100%;
    font-size: 12px;
    text-align: right;
}

.subpage-header {
    font-size: 16px;
    font-weight: bold;
}

.prettyprint {
    background-color: white;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
}

#grass {
    padding: 0;
    margin-left: -50px;
    margin-bottom: -30px;
}

#foot .notes {
    width: 200px;
    float: left;
    margin: 5px 20px;
}
#foot .notes span {
    width: 200px;
    font-size: 1.5em;
    font-family: 'MuseoSans';
    letter-spacing: 1px;
    line-height: 30px;
}
.new {
    color: white;
    font-weight: bold;
    text-decoration: underline;}
